<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !">
        <title>To Do List app</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">

        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e3f2fd;" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms" />
                    <a href="{{path('homepage')}}" class="navbar-brand">To Do List app</a>
                </div>
                <div class="navbar-right">
                    {% if is_granted('ROLE_ADMIN')  %} <a href="{{path('user_list')}}" class="btn btn-primary m-1">Liste des utilisateurs</a> {% endif %}
                    {% if is_granted('ROLE_ADMIN')  %} <a href="{{path('user_create')}}" class="btn btn-success m-1">Créer un utilisateur</a> {% endif %}
                    {% if app.user %} <a href="{{path('logout')}}" class="btn btn-danger m-1">Se déconnecter</a> {% endif %}
                    {% if not app.user and 'login' != app.request.attributes.get('_route') %} <a href="{{path('login')}}" class="btn btn-success m-1">Se connecter</a> {% endif %}
                </div>
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container-fluid" style="background-color:#FFF3E3;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% for flash_message in app.session.flashBag.get('success') %}
                            <div class="alert alert-success my-2" role="alert">
                                <strong>Superbe !</strong> {{ flash_message }}
                            </div>
                        {% endfor %}

                        {% for flash_message in app.session.flashBag.get('error') %}
                            <div class="alert alert-danger my-2" role="alert">
                                <strong>Oops !</strong> {{ flash_message }}
                            </div>
                        {% endfor %}

                        {% block header_title %}{% endblock %}
                        {% block header_img %}<img class="img-fluid my-shadow my-2" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list" >{% endblock %}
                    </div>
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>

        <div class="container-fluid py-1" style="background-color:#FFF3E3;">
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <hr>
                        <p class="pull-right">Copyright &copy; OpenClassrooms</p>
                    </div>
                </div>
            </footer>
        </div>

        <!-- JAVASCRIPTS -->
        <!-- Boostrap 4 -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>
