{% extends 'base.html.twig' %}

{% block header_title %}
    <div class="col-md-12 text-center my-3">
        <h1>Créer un utilisateur !</h1>
    </div>
{% endblock %}

{% block header_img %}{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
            {{form_row(form.username)}}
            {{form_row(form.password)}}
            {{form_row(form.email)}}
            {{form_row(form.roles)}}
            <div class="text-right">
                <button type="submit" class="btn btn-success">Ajouter</button>
            </div>
        {{ form_end(form) }}
        <div class="">
            <a href="{{ path('user_list') }}" class="btn btn-secondary">Retour à la liste des utilisateurs</a>
        </div>
    </div>
{% endblock %}
