{% extends 'base.html.twig' %}

{% block header_title %}
    <div class="col-md-12 text-center my-3">
        <h1>Liste des utilisateurs</h1>
    </div>
{% endblock %}

{% block header_img %}{% endblock %}

{% block body %}
    <div class="container">
        <table class="table table-striped" >
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Nom d'utilisateur</th>
                <th>Adresse d'utilisateur</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles.0 }}</td>
                    <td><a href="{{ path('user_edit', {'id' : user.id}) }}" class="btn btn-success btn-sm">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
